<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/style/root.css" rel="stylesheet" />
    <link href="../static/style/style.css" rel="stylesheet" />
  </head>
  <body>
    <section class="border-b border-charcoal">
      <div class="container">
        <div class="grid grid-cols-3 divide-x divide-charcoal">
          <div class="contact-details-box">
            <h5 class="font-medium text-base text-white xl:text-lg 2xl:text-xl">
              General Inquiries
            </h5>
            <ul class="contact-detail-links">
              <li>
                <a href="#"
                  >contact@ai-podcasts.com
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.875 3.125L16.25 3.125C16.4158 3.125 16.5747 3.19085 16.6919 3.30806C16.8092 3.42527 16.875 3.58424 16.875 3.75V13.125C16.875 13.4702 16.5952 13.75 16.25 13.75C15.9048 13.75 15.625 13.4702 15.625 13.125V5.25888L4.19194 16.6919C3.94786 16.936 3.55214 16.936 3.30806 16.6919C3.06398 16.4479 3.06398 16.0521 3.30806 15.8081L14.7411 4.375L6.875 4.375C6.52982 4.375 6.25 4.09518 6.25 3.75C6.25 3.40482 6.52982 3.125 6.875 3.125Z"
                      fill="#FFD11A"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#"
                  >+1 (123) 456-7890
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.875 3.125L16.25 3.125C16.4158 3.125 16.5747 3.19085 16.6919 3.30806C16.8092 3.42527 16.875 3.58424 16.875 3.75V13.125C16.875 13.4702 16.5952 13.75 16.25 13.75C15.9048 13.75 15.625 13.4702 15.625 13.125V5.25888L4.19194 16.6919C3.94786 16.936 3.55214 16.936 3.30806 16.6919C3.06398 16.4479 3.06398 16.0521 3.30806 15.8081L14.7411 4.375L6.875 4.375C6.52982 4.375 6.25 4.09518 6.25 3.75C6.25 3.40482 6.52982 3.125 6.875 3.125Z"
                      fill="#FFD11A"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="contact-details-box">
            <h5 class="font-medium text-base text-white xl:text-lg 2xl:text-xl">
              Technical Support
            </h5>
            <ul class="contact-detail-links">
              <li>
                <a href="#"
                  >contact@ai-podcasts.com
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.875 3.125L16.25 3.125C16.4158 3.125 16.5747 3.19085 16.6919 3.30806C16.8092 3.42527 16.875 3.58424 16.875 3.75V13.125C16.875 13.4702 16.5952 13.75 16.25 13.75C15.9048 13.75 15.625 13.4702 15.625 13.125V5.25888L4.19194 16.6919C3.94786 16.936 3.55214 16.936 3.30806 16.6919C3.06398 16.4479 3.06398 16.0521 3.30806 15.8081L14.7411 4.375L6.875 4.375C6.52982 4.375 6.25 4.09518 6.25 3.75C6.25 3.40482 6.52982 3.125 6.875 3.125Z"
                      fill="#FFD11A"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#"
                  >+1 (123) 456-7890
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.875 3.125L16.25 3.125C16.4158 3.125 16.5747 3.19085 16.6919 3.30806C16.8092 3.42527 16.875 3.58424 16.875 3.75V13.125C16.875 13.4702 16.5952 13.75 16.25 13.75C15.9048 13.75 15.625 13.4702 15.625 13.125V5.25888L4.19194 16.6919C3.94786 16.936 3.55214 16.936 3.30806 16.6919C3.06398 16.4479 3.06398 16.0521 3.30806 15.8081L14.7411 4.375L6.875 4.375C6.52982 4.375 6.25 4.09518 6.25 3.75C6.25 3.40482 6.52982 3.125 6.875 3.125Z"
                      fill="#FFD11A"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="contact-details-box">
            <h5 class="font-medium text-base text-white xl:text-lg 2xl:text-xl">
              Our Office
            </h5>
            <ul class="contact-detail-links">
              <li>
                <p class="text-soft-grey text-base 2xl:text-lg">
                  Address: 123 AI Tech Avenue, Techville, 54321
                </p>
              </li>
              <li>
                <a href="#"
                  >Get Directions
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.875 3.125L16.25 3.125C16.4158 3.125 16.5747 3.19085 16.6919 3.30806C16.8092 3.42527 16.875 3.58424 16.875 3.75V13.125C16.875 13.4702 16.5952 13.75 16.25 13.75C15.9048 13.75 15.625 13.4702 15.625 13.125V5.25888L4.19194 16.6919C3.94786 16.936 3.55214 16.936 3.30806 16.6919C3.06398 16.4479 3.06398 16.0521 3.30806 15.8081L14.7411 4.375L6.875 4.375C6.52982 4.375 6.25 4.09518 6.25 3.75C6.25 3.40482 6.52982 3.125 6.875 3.125Z"
                      fill="#FFD11A"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="divide-y divide-charcoal">
      <div>
        <div class="container">
          <div class="contact-section">
            <div class="contact-heading">
              <svg
                width="80"
                height="80"
                class="w-10 h-10 xl:w-12 xl:h-12 2xl:w-20 2xl:h-20"
                viewBox="0 0 80 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 24C40 32.8366 32.8366 40 24 40C15.1634 40 8 32.8366 8 24C8 15.1634 15.1634 8 24 8C32.8366 8 40 15.1634 40 24Z"
                  fill="#404040"
                />
                <path
                  d="M72 24C72 32.8366 64.8366 40 56 40C47.1634 40 40 32.8366 40 24C40 15.1634 47.1634 8 56 8C64.8366 8 72 15.1634 72 24Z"
                  fill="#FFD11A"
                />
                <path
                  d="M72 56C72 64.8366 64.8366 72 56 72C47.1634 72 40 64.8366 40 56C40 47.1634 47.1634 40 56 40C64.8366 40 72 47.1634 72 56Z"
                  fill="#404040"
                />
                <path
                  d="M40 56C40 64.8366 32.8366 72 24 72C15.1634 72 8 64.8366 8 56C8 47.1634 15.1634 40 24 40C32.8366 40 40 47.1634 40 56Z"
                  fill="#FFD11A"
                />
              </svg>
              <h3
                class="text-white font-serif font-semibold text-2xl xl:text-[44px] leading-normal 2xl:text-[58px]"
              >
                Get in Touch with AI Podcasts
              </h3>
            </div>
            <div class="contact-content">
                <form></form>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div class="contact-section">
            <div class="contact-heading">
              <svg
                width="80"
                height="80"
                class="w-10 h-10 xl:w-12 xl:h-12 2xl:w-20 2xl:h-20"
                viewBox="0 0 80 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 29.9995C8 38.8739 13.2545 46.5211 20.8221 49.9995H8C8 62.1498 17.8497 71.9995 30 71.9995C38.8744 71.9995 46.5216 66.745 50 59.1775V71.9995C62.1503 71.9995 72 62.1498 72 49.9995C72 41.1251 66.7455 33.478 59.1779 29.9995H72C72 17.8492 62.1503 7.99951 50 7.99951C41.1256 7.99951 33.4784 13.254 30 20.8216V7.99951C17.8497 7.99951 8 17.8492 8 29.9995Z"
                  fill="#404040"
                />
                <path
                  d="M50 39.9996C50 45.5225 45.5228 49.9996 40 49.9996C34.4772 49.9996 30 45.5225 30 39.9996C30 34.4768 34.4772 29.9996 40 29.9996C45.5228 29.9996 50 34.4768 50 39.9996Z"
                  fill="#FFD11A"
                />
              </svg>
              <div class="space-y-1.5 xl:space-y-4 2xl:space-y-7">
                <h3
                  class="text-white font-serif font-semibold text-xl xl:text-2xl 2xl:text-4xl"
                >
                  Asked question
                </h3>
                <h6 class="text-sm text-soft-grey xl:text-base 2xl:text-lg">
                  If the question is not available on our FAQ section, Feel free
                  to contact us personally.
                </h6>
              </div>
              <a
                href="#"
                class="flex items-center gap-1 py-3.5 px-5 2xl:px-6 2xl:py-4 border border-solid border-charcoal rounded-md bg-dark-black text-soft-grey w-fit"
                >Ask Qustion
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.875 3.125L16.25 3.125C16.4158 3.125 16.5747 3.19085 16.6919 3.30806C16.8092 3.42527 16.875 3.58424 16.875 3.75V13.125C16.875 13.4702 16.5952 13.75 16.25 13.75C15.9048 13.75 15.625 13.4702 15.625 13.125V5.25888L4.19194 16.6919C3.94786 16.936 3.55214 16.936 3.30806 16.6919C3.06398 16.4479 3.06398 16.0521 3.30806 15.8081L14.7411 4.375L6.875 4.375C6.52982 4.375 6.25 4.09518 6.25 3.75C6.25 3.40482 6.52982 3.125 6.875 3.125Z"
                    fill="#FFD11A"
                  /></svg
              ></a>
            </div>
            <div class="contact-content">
              <ul class="faq-list">
                <li>
                  <div class="faq-head">
                    <h6>What is AI?</h6>
                  </div>
                  <div class="faq-body">
                    <p>
                      AI stands for Artificial Intelligence, which refers to the
                      simulation of human intelligence in machines. It enables
                      them to perform tasks like problem-solving, learning, and
                      decision-making.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
